<table class="bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tr *ngFor="let company of companies">
    <td>{{company.name}}</td>
    <td>
      <button class="btn waves-effect waves-light" name="action" (click)="edit.emit(company.id)">Edit
        <i class="material-icons right">mode_edit</i>
      </button>
      <button class="btn waves-effect waves-light" name="action" (click)="delete.emit(company.id)">Delete
        <i class="material-icons right">delete</i>
      </button>
    </td>
  </tr>
</table>